<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@rol.edit.headline">Edit Rol</h1>
    <div>
        <a routerLink="/rols" class="btn btn-secondary" i18n="@@rol.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="idRol" rowType="number" i18n-label="@@rol.idRol.label" label="Id Rol" />
    <app-input-row [group]="editForm" field="nombre" i18n-label="@@rol.nombre.label" label="Nombre" />
    <input type="submit" i18n-value="@@rol.edit.headline" value="Edit Rol" class="btn btn-primary mt-4" />
</form>
