<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@sensorAcceso.add.headline">Add Sensor Acceso</h1>
    <div>
        <a routerLink="/sensorAccesos" class="btn btn-secondary" i18n="@@sensorAcceso.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nombre" i18n-label="@@sensorAcceso.nombre.label" label="Nombre" />
    <app-input-row [group]="addForm" field="ubicacion" i18n-label="@@sensorAcceso.ubicacion.label" label="Ubicacion" />
    <app-input-row [group]="addForm" field="respuesta" i18n-label="@@sensorAcceso.respuesta.label" label="Respuesta" />
    <app-input-row [group]="addForm" field="sens" rowType="select" [options]="sensValues" i18n-label="@@sensorAcceso.sens.label" label="Sens" />
    <input type="submit" i18n-value="@@sensorAcceso.add.headline" value="Add Sensor Acceso" class="btn btn-primary mt-4" />
</form>
