<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@sensorMovimiento.add.headline">Add Sensor Movimiento</h1>
    <div>
        <a routerLink="/sensorMovimientos" class="btn btn-secondary" i18n="@@sensorMovimiento.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nombre" i18n-label="@@sensorMovimiento.nombre.label" label="Nombre" />
    <app-input-row [group]="addForm" field="ubicacion" i18n-label="@@sensorMovimiento.ubicacion.label" label="Ubicacion" />
    <app-input-row [group]="addForm" field="sensior" rowType="select" [options]="sensiorValues" i18n-label="@@sensorMovimiento.sensior.label" label="Sensior" />
    <input type="submit" i18n-value="@@sensorMovimiento.add.headline" value="Add Sensor Movimiento" class="btn btn-primary mt-4" />
</form>
