<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a routerLink="/" class="navbar-brand">
                <img ngSrc="logo.png" i18n-alt="@@app.title" alt="SistemaDeSeguridadConcurrente" width="30" height="30" class="d-inline-block align-top">
                <span class="ps-1" i18n="@@app.title">SistemaDeSeguridadConcurrente</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    i18n-aria-label="@@navigation.toggle" aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a routerLink="/" class="nav-link" i18n="@@navigation.home">Home</a>
                    </li>
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                aria-expanded="false" i18n="@@navigation.entities">Entities</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                            <li><a routerLink="/rols" class="dropdown-item" i18n="@@rol.list.headline">Rols</a></li>
                            <li><a routerLink="/usuarios" class="dropdown-item" i18n="@@usuario.list.headline">Usuarios</a></li>
                            <li><a routerLink="/eventos" class="dropdown-item" i18n="@@evento.list.headline">Eventoes</a></li>
                            <li><a routerLink="/notificacions" class="dropdown-item" i18n="@@notificacion.list.headline">Notificacions</a></li>
                            <li><a routerLink="/sensorTemperaturas" class="dropdown-item" i18n="@@sensorTemperatura.list.headline">Sensor Temperaturas</a></li>
                            <li><a routerLink="/sensorAccesos" class="dropdown-item" i18n="@@sensorAcceso.list.headline">Sensor Accesoes</a></li>
                            <li><a routerLink="/sensorMovimientos" class="dropdown-item" i18n="@@sensorMovimiento.list.headline">Sensor Movimientoes</a></li>
                            <li><a routerLink="/credencialess" class="dropdown-item" i18n="@@credenciales.list.headline">Credencialeses</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
