<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@sensorTemperatura.list.headline">Sensor Temperaturas</h1>
    <div>
        <a routerLink="/sensorTemperaturas/add" class="btn btn-primary ms-2" i18n="@@sensorTemperatura.list.createNew">Create new Sensor Temperatura</a>
    </div>
</div>
@if (!sensorTemperaturas || sensorTemperaturas.length === 0) {
<div i18n="@@sensorTemperatura.list.empty">No Sensor Temperaturas could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@sensorTemperatura.idSensor.label">Id Sensor</th>
                <th scope="col" i18n="@@sensorTemperatura.nombre.label">Nombre</th>
                <th scope="col" i18n="@@sensorTemperatura.ubicacion.label">Ubicacion</th>
                <th scope="col" i18n="@@sensorTemperatura.temperatura.label">Temperatura</th>
                <th scope="col" i18n="@@sensorTemperatura.sensorees.label">Sensorees</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (sensorTemperatura of sensorTemperaturas; track sensorTemperatura.idSensor) {
            <tr>
                <td>{{ sensorTemperatura.idSensor }}</td>
                <td>{{ sensorTemperatura.nombre }}</td>
                <td>{{ sensorTemperatura.ubicacion }}</td>
                <td>{{ sensorTemperatura.temperatura }}</td>
                <td>{{ sensorTemperatura.sensorees }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/sensorTemperaturas/edit', sensorTemperatura.idSensor]" class="btn btn-sm btn-secondary" i18n="@@sensorTemperatura.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(sensorTemperatura.idSensor!)" class="btn btn-sm btn-secondary" i18n="@@sensorTemperatura.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
