<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@credenciales.edit.headline">Edit Credenciales</h1>
    <div>
        <a routerLink="/credencialess" class="btn btn-secondary" i18n="@@credenciales.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="nombre" rowType="number" i18n-label="@@credenciales.nombre.label" label="Nombre" />
    <app-input-row [group]="editForm" field="contrasenia" i18n-label="@@credenciales.contrasenia.label" label="Contrasenia" />
    <input type="submit" i18n-value="@@credenciales.edit.headline" value="Edit Credenciales" class="btn btn-primary mt-4" />
</form>
